body {
    background: black;
}

.info img {
    max-width: 100%;
    max-height: 100%;
}

#door1 {
    height: 630px;
    width: 246px;
    left: 750px;
    top: 200px;
}

#square1 {
    height: 699px;
    width: 693px;
    
    top: 50px;
    left: 0px;
}

#square2 {
    height: 699px;
    width: 693px; 
    left: 1070px;
    top: 50px;
}

#info1 {
    width: 246px;
    left: 750px;
}

.item, .info {
    position: absolute;
}

.edit .item {
    background-color: red;
}

.door-inner {
    
}

.item .photo {
    height: 50%;
    float: left;
    overflow: hidden;
    position: relative;
}

.item.door .photo {
    width: 100%;
}


.item.square .photo {
    width: 50%;
}

.edit .item .photo {
    background-color: blue;
}

.photo canvas {
    position: absolute;
    top: 0;
    left: 0;
}


/* Retina-specific stuff here */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
    
}
